/*

selector {
	property:value;
	property:value;
}


*/

body {
	font-family: Arial, sans-serif;
	background-color:#F3FFC6;
}

h1 {
	font-size:60px;
	color:#357266;
	font-family: georgia, serif;
}

body {
	font-family: "comic sans ms";
}
